@import "mixin.scss";

@font-face {
  font-family: IRANYekan;
  src: url("fonts/IRANYekan.ttf");
}

* {
  direction: rtl;
  font-family: IRANYekan;
  text-align: right;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

p {
  text-align: justify;
}

.carousel-inner {
  position: relative;
  margin-bottom: 2rem;
  @include responsive(font-size, 30px, 40px, 40px, 50px, 70px, 90px);
  img {
    width: 100%;
    @include responsive(height, 50vh, 70vh, 70vh, 80vh, 80vh, 100vh);
  }
  span {
    transform: scale(1.5);
  }
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0.5;
    background-color: black;
    z-index: 2;
  }
  .carousel-caption {
    top: 25vh;
    position: absolute;
    left: 15%;
    right: 15%;
    width: 70%;
    h1 {
      font-size: 1em;
    }
    h3 {
      color: cornsilk;
      font-size: 0.5em;
    }
  }
}

.card-img {
  width: 200px;
  height: 200px;
  margin: 20px;
  border-radius: 50%;
}

.sec-img {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 768px) {
  .reorder {
    display: flex;
    flex-direction: column-reverse;
  }
}
.parallax-ghooghaz {
  @include responsive(height, 50vh, 60vh, 80vh, 80vh, 100vh);
  /* position: relative; */
  background-attachment: fixed;
  background-position: center center;
  /* Scale it nicely to the element */
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("img/img/ghoo3.jpg");
  margin-bottom: 30px;
}

.parallax-ghazmahli {
  @include responsive(height, 50vh, 60vh, 80vh, 80vh, 100vh);
  /* position: relative; */
  // background-attachment: fixed;
  background-position: center center;
  /* Scale it nicely to the element */
  background-size: cover;
  background-image: url("img/img/abi5.jpg");
  margin-bottom: 30px;
}

.parallax-boghy {
  @include responsive(height, 35vh, 60vh, 80vh, 80vh, 100vh);
  /* position: relative; */
  // background-attachment: fixed;
  background-position: center;
  /* Scale it nicely to the element */
  background-size: cover;
  background-image: url("img/img/boghy2.jpg");
  margin-bottom: 30px;
}

.parallax-ordak {
  @include responsive(height, 50vh, 60vh, 80vh, 80vh, 100vh);
  /* position: relative; */
  background-attachment: fixed;
  background-position: center center;
  /* Scale it nicely to the element */
  background-size: cover;
  background-image: url("img/img/abi_2.jpg");
  margin-bottom: 30px;
}

.bg__footer {
  position: relative;
  overflow-x: hidden;
  padding: 20px;
}

.bg__footer::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.6;
  //  height: 50vh;
  // background-attachment: fixed;
  // background-position: center center;
  // background-size: cover;
  // background-image: url("img/abi_2.jpg");
}

.icon {
  max-width: 30px;
  height: auto;
  margin: 10px;
}

.icon-phone {
  transform: rotateY(180deg);
}

.section {
  margin-bottom: 30px;
}

.bache {
  .image-wrapper {
    padding-bottom: 2rem;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.tokhm-gozar {
  img {
    width: 100%;
    height: auto;
  }
}
